[{_c:"0"},"Esc",{_c:"0"},"F1",{_c:"0"},"F2",{_c:"0"},"F3",{_c:"0"},"F4",{_c:"0"},"F5",{_c:"0"},"F6",{_c:"0"},"F7",{_c:"0"},"F8",{_c:"0"},"F9",{_c:"0"},"F10",{_c:"0"},"F11",{_c:"0"},"F12",{_c:"0"},"Lock",{_c:"0"},"Delete",{_c:"0"},"Insert"],
[{_c:"0"},"~\n`",{_c:"0"},"!\n1",{_c:"0"},"@\n2",{_c:"0"},"#\n3",{_c:"0"},"$\n4",{_c:"0"},"%\n5",{_c:"0"},"^\n6",{_c:"0"},"&\n7",{_c:"0"},"*\n8",{_c:"0"},"(\n9",{_c:"0"},")\n0",{_c:"0"},"_\n-",{_c:"0"},"+\n=",{w:2},"Backspace",{_c:"0"},"Home"],
[{w:1.5,_c:"0"},"Tab",{_c:"0"},"Q",{_c:"0"},"W",{_c:"0"},"E",{_c:"0"},"R",{_c:"0"},"T",{_c:"0"},"Y",{_c:"0"},"U",{_c:"0"},"I",{_c:"0"},"O",{_c:"0"},"P",{_c:"0"},"{\n[",{_c:"0"},"}\n]",{w:1.5,_c:"0"},"|\n\\",{_c:"0"},"End"],
[{w:1.75,_c:"0"},"Caps Lock",{_c:"0"},"A",{_c:"0"},"S",{_c:"0"},"D",{_c:"0"},"F",{_c:"0"},"G",{_c:"0"},"H",{_c:"0"},"J",{_c:"0"},"K",{_c:"0"},"L",{_c:"0"},":\n;",{_c:"0"},"\"\n'",{w:2.25},"Enter",{_c:"0"},"PgUp"],
[{w:2.25},"Shift",{_c:"0"},"Z",{_c:"0"},"X",{_c:"0"},"C",{_c:"0"},"V",{_c:"0"},"B",{_c:"0"},"N",{_c:"0"},"M",{_c:"0"},"<\n,",{_c:"0"},">\n.",{_c:"0"},"?\n/",{w:1.75,_c:"0"},"Shift",{_c:"0"},"↑",{_c:"0"},"PgDn"],
[{w:1.25,_c:"0"},"Ctrl",{w:1.25,_c:"0"},"Win",{w:1.25,_c:"0"},"Alt",{a:7,w:6.25},"",{a:4,_c:"0"},"Func",{_c:"0"},"Alt",{_c:"0"},"Ctrl",{_c:"0"},"←",{_c:"0"},"↓",{_c:"0"},"→"]