["Esc\n~\n\n`","!\nF1\n1","@\nF2\n2","#\nF3\n3","$\nF4\n4","%\nF5\n5","^\nF6\n6","&\nF7\n7","*\nF8\n8","(\nF9\n9",")\nF10\n0","_\nF11\n-","+\nF12\n=",{w:2},"Backspace\nDel"],
[{w:1.5},"Tab","Q","W\n↑","E","R","T\nBOOT","Y\nEECLR","U","I","O\nHome","P\nEnd","{\nPgUp\n[","}\nPgDn\n]",{w:1.5},"|\nPrtSc\n\\"],
[{w:1.75},"Caps Lock","A\n←","S\n↓","D\n→","F","G","H","J",{fa:[0,0,0,0,0,0,0,0,0,0,1]},"K\n\n\n\n\n\n\n\n\n\nrgbTog",{f:3},"L\n\n\n\n\n\n\n\n\n\nrgbVad",{f:3},":\n\n;\n\n\n\n\n\n\n\nrgbVai",{f:3},"\"\n\n'\n\n\n\n\n\n\n\nrgbMod",{w:2.25},"Enter\nMPLY"],
[{w:2.25},"Shift","Z","X","C\nPowD","V\nSLEP","B\nWAKE","N","M\nBRIU","<\nBRID\n,",">\nVOLU\n.","?\nVOLD\n/",{w:2.75},"Shift"],
[{w:1.25},"Ctrl",{w:1.25},"Win",{w:1.25},"Alt",{a:7,w:6.25},"6.25U",{a:4,w:1.25},"Func",{w:1.25},"Alt",{w:1.25},"Ctrl",{w:1.25},"Func"]