[
    {_c:"0"},"~\nEsc\n`",
    {_c:"0"},"!\nF1\n1",
    {_c:"0"},"@\nF2\n2",
    {_c:"0"},"#\nF3\n3",
    {_c:"0"},"$\nF4\n4",
    {_c:"0"},"%\nF5\n5",
    {_c:"0"},"^\nF6\n6",
    {_c:"0"},"&\nF7\n7",
    {_c:"0"},"*\nF8\n8",
    {_c:"0"},"(\nF9\n9",
    {_c:"0"},")\nF10\n0",
    {_c:"0"},"_\nF11\n-",
    {_c:"0"},"+\nF12\n=",
    {_c:"0",w:2},"Backspace\nDel"
],
[   
    {_c:"0",w:1.5},"Tab\nBOOT",
    {_c:"0"},"Q\nEECLR",
    {_c:"0"},"W\n↑",
    {_c:"0"},"E",
    {_c:"0"},"R",
    {_c:"0"},"T",
    {_c:"0"},"Y",
    {_c:"0"},"U",
    {_c:"0"},"I",
    {_c:"0"},"O\nHome",
    {_c:"0"},"P\nEnd",
    {_c:"0"},"{\nPgUp\n[",
    {_c:"0"},"}\nPgDn\n]",
    {_c:"0",w:1.5},"|\n\n\\"
],
[  
    {_c:"0",w:1.75},"Caps Lock\nPowD",
    {_c:"0"},"A\n←",
    {_c:"0"},"S\n↓",
    {_c:"0"},"D\n→",
    {_c:"0"},"F",
    {_c:"0"},"G",
    {_c:"0"},"H",
    {_c:"0"},"J",
    {_c:"0",fa:[0,0,0,0,0,0,0,0,0,0,1]},"K\n\n\n\n\n\n\n\n\n\nrgbTog",
    {_c:"0",f:3},"L\n\n\n\n\n\n\n\n\n\nrgbVad",
    {_c:"0",f:3},":\n\n;\n\n\n\n\n\n\n\nrgbVai",
    {_c:"0",f:3},"\"\n\n'\n\n\n\n\n\n\n\nrgbMod",
    {_c:"0",w:2.25},"Enter\nMPLY"],
[
    {_c:"0",w:2.25},"Shift\nSLEP",
    {_c:"0"},"Z",
    {_c:"0"},"X",
    {_c:"0"},"C",
    {_c:"0"},"V",
    {_c:"0"},"B",
    {_c:"0"},"N",
    {_c:"0"},"M\nBRIU",
    {_c:"0"},"<\nBRID\n,",
    {_c:"0"},">\nVOLU\n.",
    {_c:"0"},"?\nVOLD\n/",
    {_c:"0",w:2.75},"Shift\nPrtSc"
],
[
    {_c:"0",w:1.25},"Ctrl",
    {_c:"0",w:1.25},"Win",
    {_c:"0",w:1.25},"Alt",
    {_c:"0",a:5,w:6.25},"\nWAKE\n\n\n\n\n6.25U",
    {_c:"0",a:4,w:1.25},"Func",
    {_c:"0",w:1.25},"Alt",
    {_c:"0",w:1.25},"Ctrl",
    {_c:"0",w:1.25},"Func"
]